<template>
    <div id="login_form">
  <sui-form>
    <sui-form-fields>
      <sui-form-field>
        <label>Id</label>
        <input placeholder="Id" v-model="id"/>
      </sui-form-field>
    </sui-form-fields>
    <sui-form-fields>
      <sui-form-field>
        <label>Password</label>
        <input type="password" placeholder="Password" v-model="password"/>
      </sui-form-field>
    </sui-form-fields>
  </sui-form>
    <sui-button primary type="button" @click="onClickLoginBtn">Login</sui-button>
  </div>
</template>

<script>
import {findUser} from '../api/MemberApi.js';

export default {
    name:"Login",
    data: function() {
        return {
            id:'',
            password:'',
        }
    },
    methods: {
        onClickLoginBtn: async function() {
            let userList = [];
            const id = this.id;
            const password = this.passoword;
            userList = await findUser(id, password);

            if(userList != null) {
              this.$session.set('loggedIn', id);
              this.$emit('onClickMenu', 'default');
              this.$router.push({name: '/listPage', query: {id: 'defalut'}});
              this.$router.go(0);
            }
        }
    }
}
</script>

<style>
    #login_form {
        margin-left: 30%;
        margin-right: 30%;
    }
</style>