<template>
  <div>
    
   <sui-grid divided="vertically">
    <sui-grid-row :columns="16">
      <sui-grid-column :width="3">
        <h1 is="sui-header" color="blue"  @click="handleClickMenu('default')" >PlateerShop</h1>
      </sui-grid-column>
			<sui-grid-column :width="4">
        <sui-menu secondary>
          <sui-menu-item 
          :active="isFoodMenu" 
          link name="Messages"
          @click="handleClickMenu('food')"
          >
          푸드
          </sui-menu-item>
          <sui-menu-item 
          :active="isClothesMenu" 
          link name="Messages"
          @click="handleClickMenu('clothes')"
          >
          의류
          </sui-menu-item>
          <sui-menu-item 
          :active="isElectronicsMenu" 
          link name="Messages"
          @click="handleClickMenu('electronics')"
          >
          전자기기
          </sui-menu-item>
          <sui-menu-item 
          :active="isSportsMenu" 
          link name="Messages"
          @click="handleClickMenu('sports')"
          >
          스포츠
          </sui-menu-item>
        </sui-menu>
      </sui-grid-column>
      <sui-grid-column :width="4">
			<sui-form>
			<sui-form-fields :colum="11">
				<sui-form-field :width="9">
			<sui-input placeholder="Search..." fluid v-model="searchValue" />
				</sui-form-field>
				<sui-form-field>
			<sui-button :width="2" primary @click="search(`${searchValue}`)">
				<sui-icon name="search" />
			</sui-button>
			</sui-form-field>
			</sui-form-fields>
			</sui-form>

      </sui-grid-column>
      <sui-grid-column :width="5">
        <sui-menu secondary>
          <sui-menu-item link name="Info" @click="handleClickMenu('myInfo')" v-if="isLoggedIn"><sui-icon name="users"/>나의정보</sui-menu-item>
          <sui-menu-item link name="Info" @click="handleClickMenu('orderList')" v-if="isLoggedIn"><sui-icon name="truck icon"/>주문내역</sui-menu-item>
          <sui-menu-item link name="Messages" @click="handleClickMenu('login')" v-if="!isLoggedIn"><sui-icon name="sign in icon"/>로그인</sui-menu-item>
          <sui-menu-item link name="Messages" @click="handleClickMenu('logout')" v-if="isLoggedIn"><sui-icon name="sign out icon"/>로그아웃</sui-menu-item>
          <sui-menu-item link name="Messages" @click="handleClickMenu('register')" v-if="!isLoggedIn"><sui-icon name="user plus icon"/>회원가입</sui-menu-item>
        </sui-menu>
      </sui-grid-column>
    </sui-grid-row>
  </sui-grid>
  <sui-divider />
  </div>
</template>

<script>
import { findProducts } from '../api/ProductApi.js';
export default {
    name:"MainHeader",
    data: function() {
      return {
        currentMenuName: '',
        isLoggedIn: false,
        searchValue: '',
        foundProducts: [],
      }
    },
    mounted: async function() {
      //
      const loggedInEmail = this.$session.get('loggedIn');
      if(loggedInEmail && loggedInEmail.length > 0) {
        this.isLoggedIn = true;
      } else {
        this.isLoggedIn = false;
      }
    const foundProducts = await findProducts();
		if(foundProducts && foundProducts.length > 0) {
			this.foundProducts = foundProducts;
		}
    },
    methods: {
      search: async function(productName) {
			const searchValue = this.searchValue;
			if(searchValue && searchValue.length > 0) {
        this.$router.push({name: '/searchPage', query: {id: productName}});
			}
		},
      handleClickMenu: function(menuName) {

        switch(menuName) {
          case 'food':
            this.$router.push({name: '/listPage', query: {id: 'Food'}});
            break;
          case 'clothes':
            this.$router.push({name: '/listPage', query: {id: 'Clothes'}});
            break;
          case 'electronics':
            this.$router.push({name: '/listPage', query: {id: 'Electronics'}});
            break;
          case 'sports':
            this.$router.push({name: '/listPage', query: {id: 'Sports'}});
            break;
          case 'myInfo':
            this.$router.push('myInfo')
            break;
          case 'login':
            this.$router.push('login')
            break;
          case 'default':
            this.$router.push({name: '/listPage', query: {id: 'defalut'}});
            break;
          case 'logout':
            this.$router.push('login');
            this.$session.remove('loggedIn');
            break;
          case 'register':
            this.$router.push('register')
            break;
          case 'orderList':
            this.$router.push('orderListPage')
            break;
          default:
            throw new Error("Invalid Menu Name");
        }
        this.currentMenuName = menuName;
      }
    },
    computed: {
      isFoodMenu: function() {
        return (this.currentMenuName === 'Food');
      },
      isClothesMenu: function() {
        return (this.currentMenuName === 'clothes');
      },
      isElectronicsMenu: function() {
        return (this.currentMenuName === 'electronics');
      },
      isSportsMenu: function() {
        return (this.currentMenuName === 'sports');
      },
      isMyInfoMenu: function() {
        return (this.currentMenuName === 'myInfo');
      },
    }
}
</script>

<style>

</style>