<template>
<sui-grid :columns="3" divided id="clothes_form">
    <sui-grid-row stretched>
      <sui-grid-column v-for="(product, index) in foundProducts" :key="index">
        <sui-segment @click="onOrderBtn(`${product.productId}`)">
            <sui-image  :src="getImgPath(product.image)" width="270" height="270" />
            <sui-divider />
            <div>품  명 : {{product.productName}}</div>
            <div>가  격 : {{product.price}}</div>
            <div>재  고 : {{product.count}}</div>
            <div>소  개 : {{product.intro}}</div>
        </sui-segment>
      </sui-grid-column>
    </sui-grid-row>
  </sui-grid>
</template>

<script>
import { findCategory, findProducts } from '../../api/ProductApi';
export default {
    name: 'ListPage',
    data: function() {
	return {
      foundProducts: [],
      id: '',
      reloadCount: 1,
      category: this.$route.query.id,
        }
    },
	mounted: async function() {
        if(this.category === 'defalut'){
        const foundProducts = await findProducts();
		this.foundProducts = foundProducts;
        } else {
            const foundProducts = await findCategory(this.category);
            this.foundProducts = foundProducts;
            }
        },
    methods: {
     getImgPath: function(Path) {
            return require(`../../assets/${Path}`);
    },
    onOrderBtn: function(productId) {
      this.$router.push({name: '/orderPage', query: {id: productId}});
    }
  }
}
</script>

<style>

</style>