<template>
<div id="register_form">
  <sui-form>
    <sui-form-fields>
      <sui-form-field>
        <label>아이디</label>
        <input type="text" placeholder="Id" v-model="id"/>
      </sui-form-field>
      <sui-form-field>
        <label>패스워드</label>
        <input type="password" placeholder="Password" v-model="password"/>
      </sui-form-field>
    </sui-form-fields>
    <sui-form-fields>
      <sui-form-field>
        <label>이름</label>
        <input type="text" placeholder="Name" v-model="name"/>
      </sui-form-field>
      <sui-form-field>
        <label>전화번호</label>
        <input type="text" placeholder="Phone Number" v-model="phoneNumber"/>
      </sui-form-field>
      <sui-form-field>
        <label>생년월일</label>
        <input type="text" placeholder="Birth Day" v-model="birthDay"/>
      </sui-form-field>
    </sui-form-fields>
              <label>주소</label>
              <sui-divider section />
        <sui-form-fields>
      <sui-form-field>
        <label>우편번호</label>
        <input type="text" placeholder="ZipCode" v-model="zipCode"/>
      </sui-form-field>
      <sui-form-field>
        <label>도로명주소</label>
        <input type="text" placeholder="ZipAddress" v-model="zipAddress"/>
      </sui-form-field>
      <sui-form-field>
        <label>상세주소</label>
        <input type="text" placeholder="StreetAddress" v-model="streetAddress"/>
      </sui-form-field>
      <sui-form-field>
        <label>국가</label>
        <input type="text" placeholder="Country" v-model="country"/>
      </sui-form-field>
    </sui-form-fields>
  </sui-form>
	<sui-button type="button" @click="onClickModifyBtn('modify')">수정</sui-button>
</div>
</template>

<script>
import { findById, modifyUser } from '../../api/MemberApi.js';
export default {
	name: "MemberModifyPage",
	data: function() {
		return {
		id: '',
		password: '',
		name: '',
		phoneNumber: '',
        birthDay: '',
        zipCode: '',
        zipAddress: '',
        streetAddress: '',
        country: '',
		}
	},
	mounted: async function() {
		const loggedInId = this.$session.get('loggedIn');
		if(loggedInId && loggedInId.length > 0) {
			this.id = loggedInId;
		}
		let userList = [];
		userList = await findById(this.id);
    if(userList != null) {
				this.zipCode = userList.address.zipCode,
				this.zipAddress = userList.address.zipAddress,
				this.streetAddress = userList.address.streetAddress,
				this.country = userList.address.country,
				this.id = userList.id,
				this.password = userList.password,
				this.name = userList.name,
				this.phoneNumber = userList.phoneNumber,
				this.birthDay = userList.birthDay
			}
  },
  methods: {
		onClickModifyBtn: function() {
      const address = {
        zipCode: this.zipCode,
        zipAddress: this.zipAddress,
        streetAddress: this.streetAddress,
        country: this.country
      };
			const member = {
				id: this.id,
				password: this.password,
				name: this.name,
				phoneNumber: this.phoneNumber,
        birthDay: this.birthDay,
        address: address
			};
      modifyUser(member);
      this.$router.push('myInfo');
		}
	},
}
</script>

<style>

</style>