<template>
<div id="register_form">
  <sui-form>
    <sui-form-fields>
      <sui-form-field>
        <label>아이디</label>
        <div>{{id}}</div>
      </sui-form-field>
      <sui-form-field>
        <label>패스워드</label>
        <div>{{password}}</div>
      </sui-form-field>
      <sui-form-field>
        <label>권한</label>
        <div>{{permission}}</div>
      </sui-form-field>
    </sui-form-fields>
    <sui-form-fields>
      <sui-form-field>
        <label>이름</label>
        <div>{{name}}</div>
      </sui-form-field>
      <sui-form-field>
        <label>전화번호</label>
        <div>{{phoneNumber}}</div>
      </sui-form-field>
      <sui-form-field>
        <label>생년월일</label>
        <div>{{birthDay}}</div>
      </sui-form-field>
    </sui-form-fields>
              <label>주소</label>
              <sui-divider section />
        <sui-form-fields>
      <sui-form-field>
        <label>우편번호</label>
        <div>{{zipCode}}</div>
      </sui-form-field>
      <sui-form-field>
        <label>도로명주소</label>
        <div>{{zipAddress}}</div>
      </sui-form-field>
      <sui-form-field>
        <label>상세주소</label>
        <div>{{streetAddress}}</div>
      </sui-form-field>
      <sui-form-field>
        <label>국가</label>
        <div>{{country}}</div>
      </sui-form-field>
    </sui-form-fields>
  </sui-form>
	<sui-button type="button" @click="onClickBtn('modify')">수정</sui-button>
  <sui-button type="button" @click="onClickBtn('delete')">회원탈퇴</sui-button>
  <sui-button type="button" @click="onClickBtn('productListPage')" v-if="AdminMenu">판매중인 물품</sui-button>
</div>
</template>

<script>
import { deleteUser, findById } from '../../api/MemberApi';
export default {
	name: "MemberDetailPage",
	data: function() {
		return {
		id: '',
		password: '',
		name: '',
		phoneNumber: '',
        birthDay: '',
        zipCode: '',
        zipAddress: '',
        streetAddress: '',
        country: '',
        permission: '',
        AdminMenu: false,
		}
	},
	mounted: async function() {
		const loggedInId = this.$session.get('loggedIn');
		if(loggedInId && loggedInId.length > 0) {
			this.id = loggedInId;
    }
		let userList = [];
		userList = await findById(this.id);
            if(userList != null) {
				this.zipCode = userList.address.zipCode,
				this.zipAddress = userList.address.zipAddress,
				this.streetAddress = userList.address.streetAddress,
				this.country = userList.address.country,
				this.id = userList.id,
				this.password = userList.password,
				this.name = userList.name,
				this.phoneNumber = userList.phoneNumber,
        this.birthDay = userList.birthDay,
        this.permission = userList.permission
        if(this.permission === 'Admin'){
          this.AdminMenu = true;
        }
        else{
          this.AdminMenu = false;
        }
      }
    
	},
	methods: {
		onClickBtn: function(menuName) {
			if(menuName === 'modify'){
				this.$router.push('modify');
      }
      if(menuName === 'delete'){
        const loggedInId = this.$session.get('loggedIn');
        const id = loggedInId;
        deleteUser(id);
        this.$session.destroy();
        this.$router.push('default');
        this.$router.go(0);
      }
      if(menuName === 'productListPage'){
        this.$router.push('productListPage');
      }
    },
	}
}
</script>

<style>

</style>