<template>
<div id="register_form">
  <sui-form>
    <sui-form-fields>
      <sui-form-field>
        <label>아이디</label>
        <input type="text" placeholder="Id" v-model="id"/>
      </sui-form-field>
      <sui-form-field>
        <label>패스워드</label>
        <input type="password" placeholder="Password" v-model="password"/>
      </sui-form-field>
    </sui-form-fields>
    <sui-form-fields>
      <sui-form-field>
        <label>이름</label>
        <input type="text" placeholder="Name" v-model="name"/>
      </sui-form-field>
      <sui-form-field>
        <label>전화번호</label>
        <input type="text" placeholder="Phone Number" v-model="phoneNumber"/>
      </sui-form-field>
      <sui-form-field>
        <label>생년월일</label>
        <input type="text" placeholder="Birth Day" v-model="birthDay"/>
      </sui-form-field>
    </sui-form-fields>
              <label>주소</label>
              <sui-divider section />
        <sui-form-fields>
      <sui-form-field>
        <label>우편번호</label>
        <input type="text" placeholder="ZipCode" v-model="zipCode"/>
      </sui-form-field>
      <sui-form-field>
        <label>도로명주소</label>
        <input type="text" placeholder="ZipAddress" v-model="zipAddress"/>
      </sui-form-field>
      <sui-form-field>
        <label>상세주소</label>
        <input type="text" placeholder="StreetAddress" v-model="streetAddress"/>
      </sui-form-field>
      <sui-form-field>
        <label>국가</label>
        <input type="text" placeholder="Country" v-model="country"/>
      </sui-form-field>
    </sui-form-fields>
  </sui-form>
	<sui-button type="button" @click="onClickRegisterBtn">회원가입</sui-button>
</div>
</template>

<script>
import { registerUser } from '../../api/MemberApi';

export default {
	name: "MemberRegisterPage",
	data: function() {
		return {
		id: '',
		password: '',
		name: '',
		phoneNumber: '',
    birthDay: '',
    zipCode: '',
    zipAddress: '',
    streetAddress: '',
    country: '',
    permission: '',
		}
	},
	methods: {
		onClickRegisterBtn: function() {
      const address = {
        zipCode: this.zipCode,
        zipAddress: this.zipAddress,
        streetAddress: this.streetAddress,
        country: this.country
      };
			const member = {
				id: this.id,
				password: this.password,
				name: this.name,
				phoneNumber: this.phoneNumber,
        birthDay: this.birthDay,
        address: address,
        permission: 'Member',
      };
      registerUser(member);
      this.$router.push('default');
    }
    
	}
}
</script>

<style>
    #register_form {
        margin-left: 20%;
        margin-right: 20%;
    }
</style>