<template>
  <div id="MP_form">
  <sui-form equal-width>
    <sui-form-fields>
      <sui-form-field>
        <label>우편번호</label>
        <input type="text" placeholder="ZipCode" v-model="zipCode"/>
      </sui-form-field>
      <sui-form-field>
        <label>도로명주소</label>
        <input type="text" placeholder="ZipAddress" v-model="zipAddress"/>
      </sui-form-field>
      <sui-form-field>
        <label>상세주소</label>
        <input type="text" placeholder="StreetAddress" v-model="streetAddress"/>
      </sui-form-field>
      <sui-form-field>
        <label>국가</label>
        <input type="text" placeholder="Country" v-model="country"/>
      </sui-form-field>
    </sui-form-fields>
  </sui-form>
  <sui-button type="button" @click="onClickModifyBtn">변경</sui-button>
</div>
</template>

<script>
import { findOrder, modifyOrder } from '../../api/OrderApi';
export default {
    name: "OrderModifyPage",
    data: function() {
        return {
          zipCode: '',
          zipAddress: '',
          streetAddress: '',
          country: '',
          orderId: this.$route.query.id,
        }
    },
    mounted: async function() {
        let order = [];
		order = await findOrder(this.orderId);
        if(order != null) {
			this.zipCode = order.zipCode,
			this.zipAddress = order.zipAddress,
			this.streetAddress = order.streetAddress,
            this.country = order.country
			}
    },
     methods: {
    onClickModifyBtn: function() {
        const address = {
            zipCode: this.zipCode,
            zipAddress: this.zipAddress,
            streetAddress: this.streetAddress,
            country: this.country
        }
        const order = {
            orderId: this.orderId,
            address: address,
        };
            modifyOrder(order);
            this.$router.push('orderListPage');
            this.$router.go(0);
        },
    }
}
</script>

<style>

</style>