<template>
    <div id="pl_form">
        <sui-table celled>
    <sui-table-header>
      <sui-table-row>
        <sui-table-header-cell>주문번호</sui-table-header-cell>
        <sui-table-header-cell>상품번호</sui-table-header-cell>
        <sui-table-header-cell>갯수</sui-table-header-cell>
        <sui-table-header-cell>가격</sui-table-header-cell>
        <sui-table-header-cell>주문일</sui-table-header-cell>
        <sui-table-header-cell>주소</sui-table-header-cell>
        <sui-table-header-cell>배송상태</sui-table-header-cell>
        <sui-table-header-cell>관리</sui-table-header-cell>
      </sui-table-row>
    </sui-table-header>

    <sui-table-body>
      <sui-table-row v-for="(order, index) in foundOrders" :key="index">
        <sui-table-cell>{{order.orderId}}</sui-table-cell>
        <sui-table-cell>{{order.productId}}</sui-table-cell>
        <sui-table-cell>{{order.count}}</sui-table-cell>
		<sui-table-cell>{{order.price}}</sui-table-cell>
        <sui-table-cell>{{order.orderDay}}</sui-table-cell>
        <sui-table-cell>{{order.address}}</sui-table-cell>
		<sui-table-cell>{{order.orderProcessType}}</sui-table-cell>
        <sui-table-cell>
			<sui-button color="blue" @click="onModifyBtn(`${order.orderId}`)">주문변경</sui-button>
			<sui-button color="red" @click="onDeleteBtn(`${order.orderId}`)" >주문취소</sui-button>
		</sui-table-cell>
      </sui-table-row>
    </sui-table-body>
        </sui-table>
  </div>
</template>

<script>
import { deleteOrder, findOrders } from '../../api/OrderApi';
export default {
    name: 'OrderListPage',
    data: function() {
		return {
      foundOrders: [],
      id: '',
        }
    },
    mounted: async function() {
		const foundOrders = await findOrders();
		if(foundOrders && foundOrders.length > 0) {
			this.foundOrders = foundOrders;
	} 
  },
  methods: {
    onDeleteBtn: function(id) {
      this.id = id;
      deleteOrder(id);
      this.$router.go(0);
    },
    onModifyBtn: function(orderId) {
        this.$router.push({name: '/orderModifyPage', query: {id: orderId}});
    },
  }
}
</script>

<style>

</style>