<template>
<div id="Order_form">
    <sui-grid :columns="1" divided>
    <sui-grid-row stretched>
      <sui-grid-column >
        <sui-segment>
            <img  :src="getImgPath(image)" width="400" height="400" />
            <div>품  명 : {{productName}}</div>
            <div>가  격 : {{price}}</div>
            <div>재  고 : {{countMax}}</div>
            <div>소  개 : {{intro}}</div>
                          <sui-divider section />
<sui-form>
    <sui-form-fields>
      <sui-form-field>
        <label>수량</label>
        <input type="text" placeholder="수량" v-model="count"/>
      </sui-form-field>
    </sui-form-fields>
                  <sui-divider section />
              <label>주소</label>
              <sui-divider section />
        <sui-form-fields>
      <sui-form-field>
        <label>우편번호</label>
        <input type="text" placeholder="ZipCode" v-model="zipCode"/>
      </sui-form-field>
      <sui-form-field>
        <label>도로명주소</label>
        <input type="text" placeholder="ZipAddress" v-model="zipAddress"/>
      </sui-form-field>
      <sui-form-field>
        <label>상세주소</label>
        <input type="text" placeholder="StreetAddress" v-model="streetAddress"/>
      </sui-form-field>
      <sui-form-field>
        <label>국가</label>
        <input type="text" placeholder="Country" v-model="country"/>
      </sui-form-field>
    </sui-form-fields>
</sui-form>
        </sui-segment>
      </sui-grid-column>
    </sui-grid-row>
  </sui-grid>
    <sui-button type="button" @click="onClickOrderBtn">주문하기</sui-button>
</div>
</template>

<script>
import { registerOrder } from '../../api/OrderApi';
import { findProduct } from '../../api/ProductApi';
export default {
    name: 'OrderPage',
    data: function() {
        return {
          productName: '',
          productId: this.$route.query.id,
          intro: '',
          price: '',
          count: '',
          countMax: '',
          category: '',
          image: '',
          zipCode: '',
          zipAddress: '',
          streetAddress: '',
          country: '',
          }
    },    
    mounted: async function() {
        let product = [];
		product = await findProduct(this.productId);
        if(product != null) {
				this.productName = product.productName,
				this.price = product.price,
        this.intro = product.intro,
        this.countMax = product.count,
        this.category = product.category,
        this.image = product.image
			}
    },
     methods: {
     getImgPath: function(Path) {
            return require(`../../assets/${Path}`);
    },
    onClickOrderBtn: async function() {
      const loggedInId = this.$session.get('loggedIn');
      const id = loggedInId;
      const address = {
        zipCode: this.zipCode,
        zipAddress: this.zipAddress,
        streetAddress: this.streetAddress,
        country: this.country
      };
      const order = {
        userId: id,
        productId: this.productId,
        price: this.price,
        count: this.count,
        address: address,
        orderProcessType: 'Ready'
      };
      if( this.count <= this.countMax){
        registerOrder(order);
        this.$router.push('default');
      } else {
        alert('주문수량이 재고수량보다 많습니다.');
      }
    },
    },
}
</script>

<style>
    #Order_form {
        margin-left: 10%;
        margin-right: 10%;
    }
</style>