<template>
  <div id="MP_form">
  <sui-form equal-width>
    <sui-form-fields>
      <sui-form-field>
        <label>상품명</label>
        <input placeholder="상품명" v-model="productName"/>
      </sui-form-field>
      <sui-form-field>
        <label>가격</label>
        <input type="text" placeholder="가격" v-model="price"/>
      </sui-form-field>
    </sui-form-fields>
    <sui-form-fields>
      <sui-form-field>
        <label>갯수</label>
        <input type="text" placeholder="갯수" v-model="count"/>
      </sui-form-field>
      <sui-form-field>
        <label>상품소개</label>
        <input type="text" placeholder="소개" v-model="intro"/>
      </sui-form-field>
      <sui-form-field>
        <label>카테고리</label>
          <sui-dropdown
            placeholder="선택"
            selection
            :options="options"
            v-model="category"
          />
      </sui-form-field>
    </sui-form-fields>
  </sui-form>
  <sui-image  :src="getImgPath(product.image)" width="270" height="270" />
  <sui-button type="button" @click="onClickModifyBtn">변경</sui-button>
</div>
</template>

<script>
import { findProduct, modifyProduct } from '../../api/ProductApi';
export default {
    name: 'ProductModifyPage',
    data: function() {
        return {
          productName: '',
          productId: this.$route.query.id,
          intro: '',
          price: '',
          count: '',
          category: '',
          image: '',
          options: [
            {
                text: '푸드',
                value: 'Food',
            },
            {
                text: '의류',
                value: 'Clothes',
            },
                        {
                text: '전자기기',
                value: 'Electronics',
            },
                        {
                text: '스포츠',
                value: 'Sports',
            },
          ],
        }
    },
    mounted: async function() {
        let product = [];
        console.log(this.$route.params.id);
		product = await findProduct(this.productId);
        if(product != null) {
				this.productName = product.productName,
				this.price = product.price,
				this.count = product.count,
				this.intro = product.intro,
        this.category = product.category,
        this.image = product.image
			}
    },
    methods: {
		onClickModifyBtn: function() {
            const product = {
                productId: this.productId,
				productName: this.productName,
				intro: this.intro,
				price: this.price,
                count: this.count,
                category: this.category,
                image: this.image
            };
            modifyProduct(product);
            this.$router.push('productListPage');
            this.$router.go(0);
        },
    getImgPath: function(Path) {
            return require(`@/assets/${Path}`);
        }
	},
}
</script>

<style>
    #MP_form {
        margin-left: 20%;
        margin-right: 20%;
    }
</style>