<template>
  <div id="pl_form">
      <sui-button type="button" @click="onRegisterBtn('productRegister')">판매등록</sui-button>
        <sui-table celled>
    <sui-table-header>
      <sui-table-row>
        <sui-table-header-cell>번호</sui-table-header-cell>
        <sui-table-header-cell>상품명</sui-table-header-cell>
        <sui-table-header-cell>소개</sui-table-header-cell>
        <sui-table-header-cell>가격</sui-table-header-cell>
        <sui-table-header-cell>갯수</sui-table-header-cell>
        <sui-table-header-cell>
            <select @change="onChange()" v-model="category">
            <option value="Food">푸드</option>
            <option value="Clothes">의류</option>
            <option value="Electronics">전자기기</option>
            <option value="Sports">스포츠</option>
            <option value="All">전체</option>
        </select>
        </sui-table-header-cell>
        <sui-table-header-cell>관리</sui-table-header-cell>
      </sui-table-row>
    </sui-table-header>

    <sui-table-body>
      <sui-table-row v-for="(product, index) in foundProducts" :key="index">
        <sui-table-cell>{{product.productId}}</sui-table-cell>
        <sui-table-cell>{{product.productName}}</sui-table-cell>
        <sui-table-cell>{{product.intro}}</sui-table-cell>
				<sui-table-cell>{{product.price}}</sui-table-cell>
        <sui-table-cell>{{product.count}}</sui-table-cell>
        <sui-table-cell>{{product.category}}</sui-table-cell>
				<sui-table-cell>
								<sui-button color="blue" @click="onModifyBtn(`${product.productId}`)">수정</sui-button>
								<sui-button color="red" @click="onDeleteBtn(`${product.productId}`)" >삭제</sui-button>
				</sui-table-cell>
      </sui-table-row>
    </sui-table-body>
        </sui-table>
  </div>
</template>

<script>
import { deleteProduct, findCategory, findProducts } from '../../api/ProductApi';
export default {
    name:'ProductListPage',
    data: function() {
		return {
      foundProducts: [],
      id: '',
      category: 'All',
		}
  },
	mounted: async function() {
		const foundProducts = await findProducts();
		if(foundProducts && foundProducts.length > 0) {
			this.foundProducts = foundProducts;
		} 
  },
  methods: {
		onRegisterBtn: function(menuName) {
      if(menuName === 'productRegister'){
        this.$router.push('productRegister');
      }
      if(menuName === 'productModifyPage'){
        // this.$router.push('productModifyPage');
      }
    },
    onDeleteBtn: function(id) {
      this.id = id;
      deleteProduct(id);
      this.$router.go(0);
    },
    onModifyBtn: function(productId) {
      this.$router.push({name: '/productModifyPage', query: {id: productId}});
    },
    onChange: async function() {
      if(this.category != 'All'){
      const foundProducts = await findCategory(this.category);
      this.foundProducts = foundProducts;
      }else {
        const foundProducts = await findProducts();
        this.foundProducts = foundProducts;
      }
      },
	}
}
</script>

<style>
    #pl_form {
        margin-left: 10%;
        margin-right: 10%;
    }
</style>