<template>
<div id="PR_form">
  <div>
    <div v-if="!files.length">
      <div>
        <input type="file" id="file" ref="files" @change="imageUpload" multiple />
      </div>
  </div>
  <div v-else>
        <div v-for="(file, index) in files" :key="index">
           <div @click="fileDeleteButton" :name="file.number">
              X
            </div>
         <img :src="file.preview" />
        </div>
    </div>
 </div>
 <sui-divider />
  <sui-form equal-width>
    <sui-form-fields>
      <sui-form-field>
        <label>상품명</label>
        <input placeholder="상품명" v-model="productName"/>
      </sui-form-field>
      <sui-form-field>
        <label>가격</label>
        <input type="text" placeholder="가격" v-model="price"/>
      </sui-form-field>
    </sui-form-fields>
    <sui-form-fields>
      <sui-form-field>
        <label>갯수</label>
        <input type="text" placeholder="갯수" v-model="count"/>
      </sui-form-field>
      <sui-form-field>
        <label>상품소개</label>
        <input type="text" placeholder="소개" v-model="intro"/>
      </sui-form-field>
      <sui-form-field>
        <label>카테고리</label>
          <sui-dropdown
            placeholder="선택"
            selection
            :options="options"
            v-model="category"
          />
      </sui-form-field>
    </sui-form-fields>
  </sui-form>
  <sui-divider />
  <sui-button type="button" @click="onClickRegisterBtn">상품등록</sui-button>
</div>
</template>

<script>
import { registerProduct } from '../../api/ProductApi';
export default {
    name: "ProductRegisterPage",
    data: function() {
        return {
          productName: '',
          intro: '',
          price: '',
          count: '',
          category: '',
          options: [
            {
                text: '푸드',
                value: 'Food',
            },
            {
                text: '의류',
                value: 'Clothes',
            },
                        {
                text: '전자기기',
                value: 'Electronics',
            },
                        {
                text: '스포츠',
                value: 'Sports',
            },
          ],
          files: [],
          filesPreview: [],
          image: '',
        }
    },
    methods: {
		onClickRegisterBtn: async function() {
      const product = {
				productName: this.productName,
				intro: this.intro,
				price: this.price,
				count: this.count,
        category: this.category,
        image: this.image,
      };
      registerProduct(product);
      this.$router.push('productListPage');
      this.$router.go(0);
    },
    imageUpload() {
      console.log(this.$refs.files.files);
      this.image = this.image = (this.$refs.files.files[0].name);
      this.files = [
        ...this.files,
        {
          file: this.$refs.files.files[0],
          preview: URL.createObjectURL(this.$refs.files.files[0]),
          number: 0
        }
        ];
    },
    fileDeleteButton(e) {
      const name = e.target.getAttribute('name');
      this.files = this.files.filter(data => data.number !== Number(name));
    },
	}
}
</script>

<style>
    #PR_form {
        margin-left: 20%;
        margin-right: 20%;
    }
</style>