<template>
<div id="pl_form">
    <sui-grid :columns="3" divided>
    <sui-grid-row stretched>
      <sui-grid-column>
        <sui-segment @click="onOrderBtn(`${foundProduct.productId}`)">
            <sui-image  :src="getImgPath(image)" width="270" height="270" />
            <div>품  명 : {{productName}}</div>
            <div>가  격 : {{price}}</div>
            <div>재  고 : {{count}}</div>
            <div>소  개 : {{intro}}</div>
        </sui-segment>
      </sui-grid-column>
    </sui-grid-row>
  </sui-grid>
</div>
</template>

<script>
import { findProductName } from '../../api/ProductApi';
export default {
    name: 'SearchPage',
    data: function() {
		return {
      foundProduct: [],
      productId: '',
      image: '',
      productName: '',
      price: '',
      count: '',
      intro: '',
      id: '',
      searchValue: this.$route.query.id,
        }
    },
	mounted: async function() {
        const searchValue = this.searchValue;
        const foundProduct = await findProductName(searchValue);
        this.foundProduct = foundProduct;
        if(foundProduct != null) {
			this.productName = foundProduct.productName,
			this.price = foundProduct.price,
			this.count = foundProduct.count,
			this.intro = foundProduct.intro,
            this.category = foundProduct.category,
            this.image = foundProduct.image
		}
  },
  methods: {
     getImgPath: function(Path) {
            return require(`../../assets/${Path}`);
    },
    onOrderBtn: function(productId) {
      this.$router.push({name: '/orderPage', query: {id: productId}});
    },
  }
}
</script>

<style>

</style>