<template>
  <div>
    <main-header @onClickMenu="handleClickMenu"/>
    <router-view :key="$route.fullPath">

    </router-view>



    <!-- <default-page v-if="currentPage==='default'"/>
    <login @onClickMenu="handleClickMenu" v-else-if="currentPage==='login'"/>
    <my-info-page v-else-if="currentPage==='myInfo'" />
    <default-page v-else /> -->
  </div>
</template>

<script>
import MainHeader from './components/MainHeader.vue'

export default {
  name: 'App',
  data: function() {
    return{
      currentPage: 'default'
    }
  },
  methods: {
    handleClickMenu: function(pageName) {
      this.currentPage = pageName;
    }
  },
  components: {
    MainHeader,
  }
}
</script>

<style>
#app {
  font-family: Avenir, Helvetica, Arial, sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  text-align: center;
  color: #2c3e50;
  margin-top: 60px;
}
</style>
